@media only screen and (max-width: 480px) {
    .text {
        margin: 0px;
        font-size: 36px;
        margin-left: 16px;
        padding-top: 29px;
        padding-bottom: 16px;
    }
    h1 {
        font-size: 36px;
    }
    .intro p {
        margin: 0px 16px 0px 16px;
    }
    header nav {
        height: 44px;
    }
    .conoce_mas {
        width: 288px;
        height: 48px;
        margin: 36px 16px 36px 16px;
    }
    .content {
        padding: 0px;
    }
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: left;
        width: 100%;
    }
    .phone {
        width: 100%;
        height: auto;
        overflow: hidden;
        text-align: center;
        margin: auto;
        margin-top: -100px;
    }
    .invitados img {
        width: 100%;
    }
    .nuestros_temas h2 {
        margin: 0px;
    }
    .icon_group {
        display: block;
    }
    .button_episodes {
        width: auto;
        font-size: 16px;
        padding-left: 43px;
        padding-right: 43px;
    }
    .episodios h2 {
        font-size: 36px;
        margin: 64px 147px 21px 16px;
        z-index: 1000;
    }
    /*MENU HAMBURGUESA*/
    .menu {
        display: none;
    }
    label:before {
        content: ' ☰';
    }
    label {
        font-family: 'IBM Plex Mono';
        margin-top: 10px;
        margin-right: 19px;
        width: 25px;
        height: auto;
        float: right;
    }
    #toggle:checked~label:before {
        display: block;
        content: ' X';
    }
    input:checked~.menu {
        display: block;
        background-color: #0000EC;
        padding-bottom: 15px;
    }
    input:checked~.menu a {
        color: #ffffff;
        display: block;
        padding: 15px 200px 15px 16px;
    }
    nav ul {
        width: 100%;
        margin-right: 0px;
        margin-top: 10px;
    }
    /*FIN MENU HAMBURGUESA*/
    .de_donde_venimos {
        display: block;
    }
    .de_donde_venimos h2 {
        font-size: 36px;
        margin: 27px 16px 8px 16px;
        padding: 0;
    }
    .de_donde_venimos p {
        margin: 8px 16px 0px 16px;
    }
    .invitados h2 {
        font-size: 36px;
        margin: 54px 16px 14px 16px;
        padding: 0;
    }
    .episodios iframe {
        padding: 11px;
        width: 100%;
        margin-top: -60px;
    }
    .logo {
        height: 24px;
        width: 24px;
        margin: 10px 0 10px 16px;
    }
    .nuestros_temas h2 {
        font-size: 36px;
        margin: 48px 16px 37px 16px;
    }
    .nuestros_temas p {
        font-size: 24px;
    }
    .icon {
        width: 104px;
        height: 104px;
        padding: 0px;
    }
    .news div h2 {
        font-size: 36px;
        margin: 64px 16px 36px 16px;
    }
    .news div {
        padding-top: 0px;
    }
    .button_episodes {
        width: 288px;
        height: 48px;
    }
    footer {
        margin: 0px;
        padding: 0px;
    }
    .paragraph {
        margin: 24px 0px 24px 0px;
        padding-left: 24px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .footer_icons {
        display: flex;
        justify-content: space-evenly;
        margin: 16px;
        width: 100%;
        padding-left: 29px;
    }
}

@media only screen and (min-width:481px) and (max-width:768px) {
    .invitados img {
        width: 50%;
    }
    iframe {
        width: 50%;
    }
    .de_donde_venimos h2 {
        font-size: 36px;
        margin: 27px 16px 8px 16px;
        padding: 0;
    }
}